body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    height: 100%;
    overflow-x: hidden;
}
button{
    cursor: pointer;
}

/*GLANCE HEADER*/
header {
    justify-content: space-between;
    width: 100%;
    align-content: stretch;
    position: sticky;
    top: 0;
    gap: 25px;
    background: #EEEEEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;
    text-decoration:none;
}

footer{
    background-color: beige;
    bottom:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;
    text-decoration:none;
}

header, .header-content, .header-logo, .img-frame, .patient-glance {
    display: flex;
}

.header-logo {
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    padding-right: 15px;
}

.header-logo img{
   padding-right: 4em;
}

.img-frame {
    justify-content: center;
    margin: 0 0 0 15px;
}

.patient-photo {
    position: relative;
    width: 8em;
    height: auto;
    align-self: center;
}

.patient-glance {
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3em;
}

.patient-glance-content {
    font-weight: normal;
    font-size: 1.25em;
    text-decoration:none;
}

.patient-glance-content span {
    font-weight: bold;
}

/*CATEGORY CONTAINER*/
main {
    display: flex;
    align-items: stretch;
    margin: 0;
    height: 100%;
    width: 100vw;
}

.form-overflow-container {
    width: 100vw;
    margin-left: 10px;
}

.category-container {
    width: 100%;
}

.category-header {
    font-size: 3.5em;
    margin: 25px 0 0 2.5%;
    font-weight: bold;
}

.sub-category-head {
    font-size: 2em;
    margin: 0 0 0 5%;
    font-weight: bold;
    font-style: italic;
}

.sub-category {
    height: 100%;
}

.sub-category-glance {
    margin: 20px 50px 20px 350px;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.25em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.glance-date {
    flex: 1;
}

.glance-data {
    display: flex;
    justify-content: space-evenly;
    flex: 4;
    align-self: center;
}

.glance-data h4 {
    font-weight: normal;
}

.flex-container {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.glance-button, .glance-delete {
    background: #143058;
    border-radius: 10px;
    height: 1.75em;
    color: white;
    font-size: 1.25em;
    border: none;
    width: 50%;
    float: right;
    margin: 0 5px;
    text-align: center;
    text-decoration:none;
    padding-top: .5em;
}

.glance-button:hover {
    filter: brightness(.75);
    cursor: pointer;
}

.glance-delete {
    background: #ffffff;
    color: #143058;
}

.glance-delete:hover {
    filter: brightness(.75);
    cursor: pointer;
}

/*Dashboard Styles */

nav li{
    display: inline;
    text-align: right;
    padding-left: 12em;
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    color:#183b6c;
    font-size: 3em;
}

nav li a:hover{
    color: slategray;
}

header img{
    padding: 1em;
    height: 9em;
    width: 8em;
    position: relative;
    left: 2em;
}

.logout{
    font-size: .5em;
    text-decoration:none;
    font-weight:bold;
    padding-left: 65em;
    padding-top: 10em;
}

.logout:hover{
    color: slategray;
}

.hero{
    background-color:#183b6c;
    color:white;
    padding-bottom: 20.3em;
    margin:auto;
    padding-top: 14em;
}

.hero h1{
    margin:auto;
    font-size: 7em;
    text-align:center;
}
/*Patient Styles */

.patient-button{
    background: #143058;
    border-radius: 10px;
    height: 1.75em;
    color: white;
    font-size: 1.25em;
    border: none;
    width: 17%;
    float: right;
    margin: 0 5px;
    margin-top: 1.5em;
    text-align:center;
    text-decoration:none;
    padding-top:.5em;
}


.patient-button:hover{
    filter: brightness(.75);
    cursor: pointer;
}

.patient-button a{
    color:white;
    text-decoration:none;
}

.glance-data2 {
    display: flex;
    justify-content: space-evenly;
    flex: 4;
    align-self: center;
    margin-left: -5em;
}

.return-button{
    text-decoration: none;
}

.horizontal-group {
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
}

.login-submit {
    margin: auto;
}

.flex-form {
    display: flex;
    flex-direction: column;
}

/* Back Button styles */

.back-button{
    background: #143058;
    border-radius: 10px;
    height: 1.75em;
    color: white;
    font-size: 1.25em;
    border: none;
    width: 17%;
    float: right;
    margin: 0 5px;
    margin-top: 1.5em;
    text-align:center;
    text-decoration:none;
    padding-top:.5em;
}

/* New button styles */ 
.new-button{
    background: #143058;
    border-radius: 10px;
    height: 1.75em;
    color: white;
    font-size: 1.25em;
    border: none;
    width: 17%;
    float: right;
    margin: 0 5px;
    margin-top: 1.5em;
    text-align:center;
    text-decoration:none;
    padding-top:.5em;
}
